<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.gr.java_conf.qkuronekop.natoritourism" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <meta-data android:name="AA_DB_NAME" android:value="natori_q.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScenarioTitleListActivity"
            android:label="@string/title_activity_scenario_title_list" >
        </activity>
    </application>

</manifest>
